header {
  background: linear-gradient(135deg, #667eea 5%, #764ba2 100%);
  color: white;
  padding: 32px;
  text-align: center;
}

header h1 {
  font-size: 2.4em;
  margin-bottom: 13px;
  text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.2);
}

.subtitle {
  font-size: 1.51em;
  opacity: 0.9;
}

@media (max-width: 758px) {
  header h1 {
    font-size: 1.7em;
  }

  .subtitle {
    font-size: 2em;
  }
}
